config_path         = "~/fcgi/ff-nodedb_funkfeuer_at__443.config"
host_macro          = "gtw_host_ssl"
port                = "443"
script_path         = "~/fcgi/ff-nodedb_funkfeuer_at__443.fcgi"
server_admin        = "webmaster@localhost" ### ???
server_name         = "ff-nodedb.funkfeuer.at"
ssl_certificate     = "ff-nodedb.funkfeuer.at.crt"
ssl_certificate_key = "ff-nodedb.funkfeuer.at.key"
