config_path          = "~/uwsgi/nodedb_funkfeuer_at__443.conf"
group                = "ffw"
host_macro           = "gtw_host_80_redirect,gtw_host_ssl"
http_user            = "www-data"
lazy_apps            = "yes"
port                 = "443"
processes            = 2 ### increase as necessary
script_path          = "~/uwsgi/nodedb_funkfeuer_at__443.py"
server_name          = "nodedb.funkfeuer.at"
socket               = "unix:/var/run/uwsgi/app/nodedb_funkfeuer_at__443/socket"
stats_server         = "unix:/var/run/uwsgi/app/nodedb_funkfeuer_at__443/stats-server"
ssl_certificate      = "nodedb.funkfeuer.at.chain.crt"
ssl_certificate_key  = "nodedb.funkfeuer.at.pem"
user                 = "ffw-r"
### if you want to use a virtualenv, uncomment the next line
#virtualenv           = "~/PVE/active"
